
body {
  background-color: #7969af;
  /* Red Panda Photo by Julien Mussard on Unsplash */
  background-image: url(../images/redpanda.png);
  background-size: 10%;
  background-position: center;
  background-repeat: ;
}


h1 {
  font-family: 'reeyregular';
  font-size: 64px;
  color: white;
  order: 1;
}


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.pic {
  margin-left: 30%;
  margin-right: 30%;
  justify-content: center;
  align-items: baseline;
  height: auto;
  order: 3;
}

.tri {
  max-width: 450px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  height: auto;
  order: 2;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}
